body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
}

#blogList {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.blogBox {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    transition: background-color 0.3s;
    display: flex;
    justify-content: space-between;
}

.blogTitle {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 15px;
}

img {
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.blogContent{
    width: 50%;
}

.paragraph{
    max-height: 238px;
    overflow:hidden;
}

.blogBox:hover {
    background-color: #f9f9f9;
}

.blogBox:last-child {
    border-bottom: none;
}
