html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

#map {
  height: 100%;
  width: 100%;
}

/*創建地標*/
.landmarkImg,.landmarkSearchContentImg{
  height: 125px;
  width:  125px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

.infoDiv ,.landmarkSearchContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #009382;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

.form__field:required, .form__field:invalid {
  box-shadow: none;
}

.inputImgDiv{
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  background-color: #dadada; 
  width: 100%;
  padding: 10px 15px;
  border-radius: 3px;
  border: none;
  text-align: center;
  cursor:pointer; 
  margin: 10px 0px 20px;
}

.inputImgLabel{
  width: 100%;
}

.inputImgDiv:hover {
  background: linear-gradient(to right, #11998e, #38ef7d);
}

.inputImgBox {
display: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: #00b7a2;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.inputTitleBox:focus,
.inputImgBox:focus,
button:focus {
  border-color: #009382;
  outline: none;
}

.inputTitleBox:hover,
.inputImgBox:hover {
  border-color: #009382;
}

button:hover {
  background-color: #009382;
}

.markDeleteButton{
  width: 20px;
  height: 20px;
  background-image: url('../images/delete.png');
  background-size: cover;
  background-position: center;
  transition: background-image 0.2s;
  cursor: pointer;
}

.markDeleteButton:hover{
  background-image: url('../images/deleteHover.png');
}

.markDeleteButtonBox{
  width: 100%;
  display: flex;
  justify-content: end;
}

/*地標圖片*/
.icon{
  height: 35px;
}

/*鼠標*/
.cursor {
  width: 30px;
  height: 30px;
  background-image: url('../images/mouse.png');
  background-size: cover; 
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}

.username {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
  pointer-events: none;
}

/*右側按鈕*/
.buttonBox{
  top: 30%;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
}

.toggleCursors, .controlButton{
  padding: 10px;
  width: 45px;
  height: 120px;
  background-color: #ffffff;
  color:black;
  border: #ccc solid 0.5px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.toggleCursors:hover, .controlButton:hover{
  background-color: #e0e0e0;
}

/*左側資訊欄*/
.leftInfoContainer {
  position: relative;
  height: 80%;
  top: 100px;
}

.leftInfo {
  position: fixed;
  left: 0;
  top: 100px;
  height: 80%;
  width: 425px;
  background-color: #f9f9f9;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 1000;
  border-radius: 0 10px 10px 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
}

.toggleControl {
  position: fixed;
  top: 50%; 
  left: 0;
  transform: translateY(-50%) translateX(0%);
  z-index: 1005;
  background-color: #ffffff;
  color:black;
  padding: 8px 16px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 10px;
  padding: 15px 15px 15px 0px;
}

.toggleControl:hover {
  background: #00b7a2;
  box-shadow: 0px 2px 10px 5px #ffffff;
  color: #ffffff;
}

.toggleControl:after {
  content: "";
  display: block;
  position: absolute;
  background: #1abc9c;
  opacity: 0;
  transition: all 0.8s
}

.toggleControl:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/*左側資訊欄標頭*/

.nav-link {
  background-color: #f8f9fa;
  color: #009382;
  font-weight: 1000;
  width: 106px;
  height: 50px;
}

.nav-link:hover {
  background-color: #009382;
  color: rgb(255, 255, 255);
}

.leftInfoHeader{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.leftInfoHeader div {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.loginButtonBox div {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.leftInfoHeader div:hover {
  background-color: #e0e0e0;
}

.loginButtonBox div:hover {
  background-color: #e0e0e0;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  gap:20px;
  overflow-y: auto;
  flex: 1;
}


/*登入頁面*/
.loginButtonBox{
  display: none;
  justify-content: start;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  height: 70px;
}

.logInInput,
.roomNameInput,
.blogListSearchInput,
.roomIdInput,
.inviteesIdInput,
.mapListSearchInput,
.placeListSearchInput {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.welcomeInfo{
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.userPicture {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

form{
  width: 100%;
}

.googleLoginButton{
  background-color: white;
  color: #2a2a2a;
  border: #d1d1d1 solid 1px;
  height: 44px;
  padding: 3px 0px 0px 0px ;
}

.googleLoginButton:hover{
  background-color: rgb(0, 155, 245);
  color: white;
}

/*部落格清單頁面*/
.blogBox {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  transition: transform 0.2s ease-in-out;
  min-height: 243px;
}

.blogBox:hover {
  transform: translateY(-5px);
}

.blogContent {
  padding: 15px;
}

.blogUrl {
  text-decoration: none;
  color: inherit;
}

.blogUrl:hover {
  text-decoration: underline;
}

.blogImg {
  width: 100%;
  height: 180px;
  display: block;
  border-bottom: 1px solid #ddd;
  object-fit: cover;
  object-position: center center;
}

/*地圖清單頁面*/
.mapRoom{
  margin: 0px;
  padding: 10px 20px;
}

.roomBox {
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  width: 80%;
}

.roomBox:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.roomName,
.roomId,
.roomOwner {
  margin: 5px 0;
}

.roomId {
  font-size: 14px;
  color: #666;
}

.roomOwner {
  font-size: 14px;
  color: #666;
}

/*地圖搜尋頁面*/
.blogListSearchBtn{
    width: 80px;
    height: 40px;
    margin-left: 20px;
}

.WithoutMapId {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.WithoutMapId div {
  margin: 10px 0;
  font-size: 16px;
}

.WithoutMapId>div:first-child, .WithoutMapId>div:nth-child(3) {
  font-weight: bold;
  font-size: 18px;
  color: #009382;
}

.WithoutMapId div:nth-child(2) {
  color: #555;
}

.WithoutMapId div:nth-child(4) {
  color: #555;
}

.WithoutMapId>div:nth-child(4)::before, .WithoutMapId>div:nth-child(2)::before {
  content: "●";
  margin-right: 8px;
  color: #009382;
}

.searchContainer {
  display: none;
}

.searchContainer.expanded {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.mapSearchDisplayButton{
  width: 25%;
  height: 40px;
  margin-left: 20px;
}

/*alert*/
.alert {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.alertContent {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.alertClosure {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-left: 10px;
}

.alertClosure:hover,
.alertClosure:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*place search*/

.placeListSearchButton{
  width: 25%;
  height: 40px;
  margin-left: 20px;
}

.locationContent {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap:5px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 85%;
  padding: 20px;
  transition: box-shadow 0.3s ease;
}

.locationContent:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.locationLeftContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 10px;
}

.locationLeftContentTitle, .blogTitle, .titleDiv, .roomName, .landmarkSearchContentTitle {
  overflow-wrap: break-word;
  font-family: "Noto Sans TC", "Roboto", sans-serif;
  font-weight: 350;
  color: #2a2a2a;
  font-size: 24px;
}

.locationLeftContent>p {
  color: #666;
  font-size: 16px;
  margin-bottom: 10px;
}

.locationLeftContent>a {
  color: #00b7a2;
  font-size: 16px;
  text-decoration: none;
}

.locationLeftContent>a:hover {
  color:#009382;
}

.locationContent>img {
  object-fit: cover;
  object-position: center center;
  max-width: 40%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/*place search land mark*/
.landmarkSearchContentBtn{
  width: 20px;
  height: 20px;
  background-image: url('../images/restaurantBtn.png');
  background-size: cover;
  background-position: center;
  transition: background-image 0.2s;
  cursor: pointer;
}

.landmarkSearchContentBtn:hover{
  background-image: url('../images/restaurantBtnHover.png');
}