html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

#map {
  height: 100%;
  width: 100%;
}

/*創建地標*/
.landmarkImg{
  height: 125px;
  width:  125px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

.titleDiv{
  font-size: 40px;
  font-family: "Caveat", cursive;
  padding: 0px 5px;
}

.infoDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #e6feff;
  width: 200px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.inputTitleBox {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #00b7a2;
  border-radius: 3px;
  font-size: 16px;
  transition: border-color 0.3s;
  background-color: #ffffff;
}

.inputImgBox {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #00b7a2;
  border-radius: 3px;
  font-size: 16px;
  transition: border-color 0.3s;
  background-color: #ffffff;
  width: 100%;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: #00b7a2;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.inputTitleBox:focus,
.inputImgBox:focus,
button:focus {
  border-color: #009382;
  outline: none;
}

.inputTitleBox:hover,
.inputImgBox:hover {
  border-color: #009382;
}

button:hover {
  background-color: #009382;
}

/*地標圖片*/
.icon{
  height: 35px;
}

/*鼠標*/
.cursor {
  width: 15px;
  height: 15px;
  background-color: rgb(184, 130, 255);
  border-radius: 50%;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}

/*右側按鈕*/
.buttonBox{
  top: 30%;
  z-index: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0px;
}

.toggleCursors, .controlButton{
  width: 45px;
  background-color: #ffffff;
  color:black;
  border: #ccc solid 0.5px;
}

/*左側資訊欄*/
.leftInfo {
  position: fixed;
  left: 0;
  top: 100px;
  height: 80%;
  width: 340px;
  background-color: #f9f9f9;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  /* transform: translateX(-99.95%); */
  transition: transform 0.3s ease;
  z-index: 1000;
  border-radius: 0 10px 10px 0;
  overflow-y: auto;
}

.leftInfo:hover {
  transform: translateX(0);
}

/*左側資訊欄標頭*/
.leftInfoHeader{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.leftInfoHeader div {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.loginButtonBox div {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.leftInfoHeader div:hover {
  background-color: #e0e0e0;
}

.loginButtonBox div:hover {
  background-color: #e0e0e0;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap:20px;
}


/*登入頁面*/
.loginButtonBox{
  display: none;
  justify-content: start;
  padding: 20px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.logInInput, .roomNameInput {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.welcomeInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.userPicture {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

/*部落格清單頁面*/
.blogBox {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  transition: transform 0.2s ease-in-out;
}

.blogBox:hover {
  transform: translateY(-5px);
}

.blogContent {
  padding: 15px;
}

.blogTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.blogUrl {
  text-decoration: none;
  color: inherit;
}

.blogUrl:hover {
  text-decoration: underline;
}

.blogImg {
  width: 100%;
  height: 180px;
  display: block;
  border-bottom: 1px solid #ddd;
  object-fit: cover;
  object-position: center center;
}

/*地圖清單頁面*/
.mapRoom{
  margin: 0px;
  padding: 10px 20px;
}

.roomBox {
  padding: 10px 15px;
  margin-bottom: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
}

.roomBox:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.roomName,
.roomId,
.roomOwner {
  margin: 5px 0;
}

.roomName {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.roomId {
  font-size: 14px;
  color: #666;
}

.roomOwner {
  font-size: 14px;
  color: #666;
}